<footer>
  <div class="container">
    <div class="footer-bottom">
    <span>
      © 2018. <%= link_to 'Oscar Olivera', 'https://github.com/oscarmolivera', target: '_blank', rel: 'noopener noreferrer' %> 
    </span>
    <span class="f-b-r">
      <%= t(:footer_text_1) %> <%= link_to t(:footer_text_2), 'https://bit.ly/2QHF68N', target: '_blank', rel: 'noopener noreferrer' %>
    </span>
    </div>
  </div>    
</footer>

